body {
    max-width: 800px;
    width: 90%;
}
html {}
    @media (min-width: 640px) {
        html { font-size: 16pt; }
        .two-columns-example {
            display: flex;
            width: 50%;
        }
}