html, body {
    overflow-x: hidden;
 }
 h1 {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: #FFF599;
    padding: 14px 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: block;
}


.topnav {
    overflow: hidden;
    text-align: center;
    font-family: 'Inter', sans-serif;
    position: fixed;
    margin-left: 21%;
    margin-right: 21%;
    top: 100px;
    width: 100%;
    z-index: 9999;
  }

h1 a {
    color: black;
    text-decoration: none;
  }

h1 a:hover {
    color: red;
  }


.topnav a {
    float: left;
    color: black;
    background-color: white;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
    font-size: 17px;
  }

  @media screen and (min-width: 701px) {
    .topnav a {
      font-size: 17px;
      padding: 14px 60px;
      margin-left: auto;
    }
  }

  @media screen and (max-width: 701px) {
    .topnav a {
      font-size: 11px;
      padding: 14px 13px;
      margin-left: -2%;

    }
  }

.topnav a:hover {
    background-color: #ddd;
    color: grey;
  }

.warning {
    width: 30%;
    padding: 150px;
    margin-left: 26%;
    margin-right: 26%;
    padding-bottom: 0px;
    position: static;
}

  @media screen and (max-width: 701px) {
    .warning {
      padding-top: 150px;
      padding-bottom: 50px;
      padding-left: 100px;
      padding-right: 100px;
      width: 50%;
      margin-left: 0;
    }
  }

h2 {
    font-size: 110px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    max-width: 70%;
    margin: auto;
    margin-left: 26%;
    margin-right: 26%;
    padding-top: 0px;

}

@media screen and (min-width: 800px) {
    h2 {
      font-size: 110px;
      margin-left: 26%;
    }
  }

  @media screen and (max-width: 800px) {
    h2 {
      font-size: 60px;
      margin-left: 10%;

    }
  }

.beware-graphic {
    width: 90%;
    margin-left: 6%;
    margin-right: 6%;
}

footer {
    display: block;
}

#footer-content {
    text-align: left;
    color: white;
    background-color: #FFF599;
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
}

div {
    display: block;
}

.grid-wrap {
    margin-left: 0.8rem;
    display: inline-flex;
    grid-template-columns: 400px 400px 400px;
    column-gap: 100px;
}

h3 {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: black;
}

h4 {
    margin-top: 50px;
    color: black;
    font-family: 'Inter', sans-serif;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.foot-list {
    list-style: none;
    font-size: 12px;
    color: black;
    font-family: 'Inter', sans-serif;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 0px;
    margin-bottom: 30px;
}

.falling-drawings {
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 80px;
  width: 70%;
}

.list {
    font-family: 'Inter', sans-serif;
    display: block;
    padding: 70px;
    width: 52%;
    margin-left: 11%;
    margin-bottom: 100px;
    font-weight: 20px;
}

.intro {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    display: block;
    padding: 50px;
    width: 63%;
    margin-left: 16%;
    background-color: #FFF599;
    text-align: left;
}

.closing {
    font-family: 'Inter', sans-serif;
    font-size: 90px;
    width: 100%;
    padding-top: 100px;
    margin-bottom: 30px;
}

.headline {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    padding-top: 100px;
    width: 52%;
    margin-left: 16%;
    font-weight: 20px;
}

.background {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    display: block;
    padding: 70px;
    width: 52%;
    margin-left: 18%;
    margin-bottom: 100px;
    font-weight: 20px;
}

.bomb-image {
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 80px;
  width: 60%;
}

.whale-image {
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 130px;
  padding-bottom: 100px;
  width: 60%;
}

.throwing-image {
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 80px;
  width: 60%;
}

.headline2 {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    padding-top: 20px;
    width: 52%;
    margin-left: 16%;
    font-weight: 20px;
}

.list2 {
    font-family: 'Inter', sans-serif;
    display: block;
    padding: 70px;
    width: 52%;
    margin-left: 11%;
    margin-bottom: 0px;
    font-weight: 20px;
}

.beware {
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 50%;
}

.intro2 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    display: block;
    padding: 10px 30px;
    width: 63%;
    margin-left: 16%;
    margin-bottom: 20px;
    background-color: #FFF599;
    text-align: left;
}