html {
    line-height: 1.4;
    background-color: #f2f1fb;
}

@media (min-width: 700px) {
    .body {
        margin: 0 8% 0 8%;
    }
}

.title-heading {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}

h1 {
    font-size: 16px;
    margin: 0;
    margin-top: 235px;
    margin-left: auto;
    margin-right: auto;
    color: #31356e;
    font-family: josefin-sans, sans-serif;
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
}

h2 {
    font-size: 110px;
    margin: 0;
    margin-bottom: 250px;
    color: #31356e;
    font-family: gimlet-display-compressed, serif;
    font-weight: 400;
    font-style: italic;
}

#intro {
    background: url(file:///Users/audreyengman/OneDrive%20-%20Washington%20University%20in%20St.%20Louis/Junior%20YearA!/Interaction%20Design/iffall2022/publish/recipe/complete/images/muffins.jpg);
    background-size: cover;
    background-position: center 20%;
}

#intro .title-heading {
    text-align: left;
}

.content-area {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
}

#description {
    font-size: 16px;
    color: white;
    background-color: #31356e;
    font-family: josefin-sans, sans-serif;
    font-weight: 10;
    font-style: italic;
}

#fixed-size-grid-items ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #b8b9eb;
}

aside {
    width: 210px;
    margin: 10px;
    font-size: 15px;
    font-family: josefin-sans, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: black;
}   

h3 {
    font-family: gimlet-display-compressed, serif;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
}

#ingredients {
    font-family: josefin-sans, sans-serif;
    font-weight: 50;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

#ingredients ul {
    width: 920px;
    background-color: #b8b9eb;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

h4 {
    font-family: gimlet-display-compressed, serif;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
}

#instructions {
    margin-left: auto;
    margin-right: auto;
    padding: 20;
}

#instructions img {
    max-width: 800px;
    padding: 20px;
}

#instructions ul {
    background-color: #b8b9eb;
    padding: 20, 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding: 20px;
    width: 920px;
    font-family: josefin-sans, sans-serif;
    font-weight: 20;
    font-style: normal;
}